# local package
-e .

# external requirements
click
Sphinx
coverage
httpx
black
jupyter-black
python-dotenv>=0.5.1
pandas
numpy
openpyxl
rich
icecream
tqdm
nbconvert[webpdf]
tox
pytest
pytest-sugar
matplotlib
seaborn
pyarrow
myst-parser

# backwards compatibility
pathlib2
